.home_page {
  display: flex;
  flex-direction: column;
  min-width: 1914px;
  min-height: 953px;
  padding-top: 106px;
  padding-left: 252px;
  background-image: url('../../../assets/photos/car.png'),
    url('../../../assets/svg/effect.svg');
  background-repeat: no-repeat;
  background-position:
    777px 110px,
    975px 50px;
}

.text {
  color: var(--primary-color);
  font-family: var(--font-family);
  line-height: 150%;
}

.title {
  display: flex;
  flex-direction: column;
  max-width: 956px;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.title_main {
  font-size: 120px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.title_main_word {
  color: var(--additional-color);
}

.logo {
  margin-left: 10px;
  padding: 15px 0;
}

.subtitle {
  max-width: 700px;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.catalog {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.button_catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 189px;
  padding: 12px 25px;
  font-size: 20px;
  font-weight: 600;
  background: var(--additional-color);
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.button_catalog:hover {
  background: var(--additional-color-hover);
}

.button_catalog:active {
  background: var(--additional-color-active);
}

.button_catalog:disabled {
  background: var(--additional-color-active);
}
