.post {
  max-width: 457px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--elements-border);
  border-radius: 16px;
  backdrop-filter: blur(20px);
  background-color: var(--elements-background);
}

.post:hover .mainPhoto {
  box-shadow: 0px 0px 100px 0px rgba(221, 41, 63, 0.5);
}

.postHeader {
  min-width: 100%;
  min-height: 53.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerUser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.avatar {
  position: relative;
  width: 38.49px;
  height: 38.49px;
}

.storyRing {
  position: absolute;
  top: -3.04px; /* вычесть из размера кольца размер аватарки и поделить на 2 */
  left: -3.04px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.headerPhoto {
  position: relative;
  z-index: 2;
  width: 32.41px;
  height: 32.41px;
  border-radius: 106.92px;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.headerUsername {
  color: var(--primary-color);
  font-family: var(--font-family-additional-medium);
  font-size: 12.83px;
  font-weight: 700;
  line-height: 15px;
}

.headerText {
  color: var(--primary-color);
  font-family: var(--font-family-additional-regular);
  font-size: 11.76px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.32px;
}

.mainPhoto {
  min-width: 100%;
  height: 417px;
  object-fit: cover;
  transition: box-shadow 0.3s ease-in-out;
}

.icons {
  margin: 10px 0;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.iconsGroup {
  display: flex;
  flex-direction: row;
  gap: 13px;
}

.icon {
  height: 27px;
  width: 27px;
}

.postFooter {
  display: flex;
  flex-direction: column;
  gap: 7px;
  min-width: 100%;
}

.footerLikes {
  color: var(--primary-color);
  font-family: var(--font-family-additional-medium);
  font-size: 14.97px;
  font-weight: 700;
}

.footerText {
  font-family: var(--font-family-additional-regular);
  font-size: 14.97px;
  font-weight: 400;
  line-height: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Ограничение до 2 строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footerUsername {
  font-weight: bold;
}

@media (max-width: 576px) {
  .post {
    min-width: 300px;
    max-height: 406px;
    padding: 13px;
  }

  .postHeader {
    min-height: 35px;
  }

  .mainPhoto {
    max-width: 100%;
    max-height: 273px;
  }

  .headerUser {
    gap: 5px;
  }

  .avatar {
    width: 21.28px;
    height: 21.28px;
  }

  .storyRing {
    top: -1.995px; /* вычесть из размера кольца размер аватарки и поделить на 2 */
    left: -1.995px;
    width: 25.27px;
    height: 25.27px;
  }

  .headerPhoto {
    width: 21.28px;
    height: 21.28px;
  }

  .headerInfo {
    gap: 1.5px;
  }

  .headerUsername {
    font-size: 8.42px;
    line-height: 10px;
  }

  .headerText {
    font-size: 7.72px;
    line-height: 9px;
  }

  .icons {
    margin: 7px 0;
  }

  .iconsGroup {
    gap: 9px;
  }

  .icon {
    height: 17px;
    width: 17px;
  }

  .postFooter {
    gap: 4px;
  }

  .footerLikes {
    font-size: 9.83px;
  }

  .footerText {
    font-size: 9.83px;
    line-height: 12px;
  }

  .headerIcon {
    width: 17px;
    height: 17px;
  }
}
