.section {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 35px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 691px;
}

.text {
  font-family: var(--font-family);
  color: var(--primary-color);
}

.title {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
}

.titleMainWord {
  color: var(--additional-color);
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}

.image {
  width: 691px;
  height: 387px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0px 0px 100px 0px rgba(221, 41, 63, 0.15);
}

@media (max-width: 576px) {
  .section {
    flex-direction: column;
  }

  .description {
    max-width: 100%;
  }

  .title {
    font-size: 45px;
  }

  .subtitle {
    font-size: 16px;
  }

  .image {
    width: 100%;
    max-height: 205px;
  }
}
