.section {
  max-width: 1417px;
  display: flex;
  align-items: flex-start;
  gap: 35px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 691px;
}

.text {
  font-family: var(--font-family);
  color: var(--primary-color);
}

.title {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
}

.titleMainWord {
  color: var(--additional-color);
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}

.image {
  min-width: 691px;
  max-height: 387px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0px 0px 100px 0px rgba(221, 41, 63, 0.15);
}
