.dropdown {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.text {
  font-family: var(--font-family);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.dropdownToggle {
  background-color: var(--background);
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dropdownToggleOpen {
  border-color: var(--additional-color);
}

.dropdownToggle:hover {
  border-color: rgb(112, 112, 112);
}

.arrowIcon {
  width: 15px;
  height: 15px;
  transition: all 0.3s;
}

.arrowIconOpen {
  transform: rotate(180deg);
}

.dropdownToggleLanguage {
  width: 94px;
  border: 1px solid rgb(112, 112, 112);
}

.dropdownToggleLanguage:hover {
  border-color: var(--elements-background);
  background: var(--elements-background);
}

.dropdownToggleLanguageOpen {
  background: var(--elements-background);
  border-color: transparent;
}

.dropdownMenu {
  position: absolute;
  min-width: 375%;
  top: 95%;
  left: 0;
  background-color: rgb(37, 36, 36);
  margin-top: 5px;
  list-style: none;
  padding: 20px 0;
  border-radius: 25px;
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdownMenuLanguage {
  min-width: 100%;
}

.dropdownItem {
  padding: 5px 20px;
  cursor: pointer;
  color: var(--primary-color);
  line-height: 150%;
  text-align: left;
}

.dropdownItemLanguage {
  padding: 5px 10px;
  text-align: center;
}

.dropdownItem:hover {
  background-color: rgb(45, 44, 44);
  color: var(--primary-color);
}

@media (max-width: 992px) {
  .dropdown {
    width: 100%;
  }
  .dropdownToggle {
    width: 100%;
    background-color: transparent;
    border: 1px solid rgb(112, 112, 112);
  }

  .dropdownMenu {
    min-width: 100%;
  }

  .dropdownToggleLanguage {
    background-color: transparent;
  }

  .dropdownToggleLanguageOpen {
    border-color: rgb(112, 112, 112);
  }

  .dropdownToggleLanguage:hover {
    border-color: rgb(112, 112, 112);
  }
}
