.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--background);
  color: var(--primary-color);
  background-image: url('../../assets//background-line.svg');
  background-repeat: no-repeat;
  background-position: -93px -187px;
}
