.item {
  max-width: 100%;
}

.itemAdditional {
  min-width: 340px;
  max-width: 99%;
}

.button {
  display: flex;
  width: 100%;
  padding: 20px;
  backdrop-filter: blur(20px);
  border: 1px solid var(--elements-border);
  border-radius: 20px;
  background-color: var(--elements-background);
  cursor: pointer;
  max-height: 311px;
}

.buttonMain {
  flex-direction: row;
  gap: 50px;
  align-items: center;
  max-height: 160px;
}

.buttonAdditional {
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.image {
  border-radius: 15px;
  transition:
    box-shadow 0.3s ease-in-out,
    scale 0.5s ease-in-out;
}

.button:hover .image {
  scale: 1.05;
  box-shadow: 0px 0px 100px 0px rgba(221, 41, 63, 0.25);
}

.imageMain {
  width: 549px;
  height: 120px;
}

.imageAdditional {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.itemText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.itemTextMain {
  gap: 10px;
}

.itemTextAdditional {
  gap: 5px;
}

.title {
  color: var(--additional-color);
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.titleMain {
  font-size: 26px;
}

.titleAdditional {
  font-size: 20px;
}

.text {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
}

.textMain {
  font-size: 18px;
}

.textAdditional {
  font-size: 16px;
}

@media (max-width: 1150px) {
  .imageMain {
    width: 420px;
  }
}

@media (max-width: 992px) {
  .buttonMain {
    flex-direction: column;
    gap: 20px;
    max-height: fit-content;
  }

  .imageMain {
    width: 100%;
    min-height: 100px;
    object-fit: cover;
  }

  .titleMain {
    line-height: 100%;
    font-size: 25px;
  }

  .textMain {
    font-size: 18px;
    text-overflow: clip;
  }

  .titleAdditional {
    line-height: 100%;
  }
}

@media (max-width: 576px) {
  .titleMain {
    line-height: 100%;
    font-size: 20px;
  }

  .textMain {
    font-size: 16px;
    text-overflow: clip;
  }
}
