.item {
  min-width: 100%;
}

.button {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  gap: 50px;
  align-items: center;
  max-height: 160px;
  border: 1px solid var(--elements-border);
  border-radius: 20px;
  background-color: var(--elements-background);
  padding: 20px;
  cursor: pointer;
  backdrop-filter: blur(20px);
}

.button:hover .image {
  scale: 1.05;
  box-shadow: 0px 0px 100px 0px rgba(221, 41, 63, 0.25);
}
.image {
  width: 549px;
  height: 120px;
  border-radius: 15px;
  transition:
    box-shadow 0.3s ease-in-out,
    scale 0.5s ease-in-out;
}

.itemText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.title {
  color: var(--additional-color);
  font-family: var(--font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.text {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
}
