.section {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.sectionMain {
  background-image: url('../../../assets/svg/effect2.svg');
}

.sectionAdditional {
  background-image: none;
}

.title {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
}

.list {
  display: flex;
  max-width: 100%;
}

.listMain {
  flex-direction: column;
  gap: 25px;
}

.listAdditional {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 19px;
  justify-content: center;
}

@media (max-width: 768px) {
  .section {
    gap: 10px;
  }

  .sectionMain {
    background-image: url('../../../assets/svg/effect2Mobile.svg');
    background-position: center;
  }

  .title {
    font-size: 65px;
  }
}

@media (max-width: 576px) {
  .section {
    gap: 20px;
  }

  .title {
    font-size: 45px;
  }
}
