.sectionInstagram {
  display: flex;
  flex-direction: column;
  gap: 23px;
  max-width: 100%;
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  max-width: 100%;
}

.headerTitle {
  color: var(--additional-color);
  font-family: var(--font-family);
  font-size: 70px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.headerPhoto {
  width: 796px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}

.posts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 23px;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 5px;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--primary-color) var(--background); /* Firefox */
}

.posts::-webkit-scrollbar {
  height: 8px;
}

.posts::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 10px;
  margin-bottom: 5px;
}

.posts::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
  border: 2px solid var(--background);
}

@media (max-width: 992px) {
  .sectionInstagram {
    gap: 20px;
  }

  .sectionHeader {
    flex-direction: column;
    gap: 10px;
  }
  .headerTitle {
    font-size: 60px;
    text-wrap: wrap;
  }
  .headerPhoto {
    max-width: 100%;
  }

  .posts {
    gap: 20px;
  }
}

@media (max-width: 576px) {
  .headerTitle {
    font-size: 45px;
  }
}
