.section {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.text {
  font-family: var(--font-family);
}

.mainSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  border: 1px solid var(--elements-border);
  border-radius: 20px;
  background-color: var(--elements-background);
  backdrop-filter: blur(20px);
  max-width: 100%;
}

.titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.title {
  color: var(--additional-color);
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
}

.carImg {
  width: 366px;
  height: 35px;
  object-fit: cover;
  border-radius: 10px;
  object-position: 0 -35px;
}

.mainSectionText {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}

.subsection {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 5px;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--primary-color) var(--background); /* Firefox */
}

@media (max-width: 576px) {
  .mainSection {
    flex-direction: column;
    gap: 20px;
  }

  .titleSection {
    min-width: 100%;
    gap: 5px;
  }

  .title {
    font-size: 45px;
  }

  .mainSectionText {
    font-size: 16px;
  }

  .carImg {
    width: 100%;
  }
}

/* Webkit browsers (Chrome, Safari) */
.subsection::-webkit-scrollbar {
  height: 8px;
}

.subsection::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 10px;
  margin-bottom: 5px;
}

.subsection::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
  border: 2px solid var(--background);
}
