.feedbackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  min-width: 269px;
  max-width: 98%;
  max-height: 333px;
  gap: 20px;
  border: 1px solid var(--elements-border);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  background-color: var(--elements-background);
}

.person {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.personImg {
  width: 75px;
  height: 75px;
  border-radius: 15px;
  transition:
    box-shadow 0.3s ease-in-out,
    scale 0.5s ease-in-out;
}

.feedbackContainer:hover .personImg {
  scale: 1.1;
  box-shadow: 0px 0px 100px 0px var(--additional-color);
}

.personName {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}

.personReview {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

@media (max-width: 992px) {
  .feedbackContainer {
    gap: 15px;
    padding: 20px;
    min-height: 333px;
  }

  .person {
    gap: 5px;
  }

  .personImg {
    width: 65px;
    height: 65px;
  }

  .personName {
    font-size: 22px;
  }

  .personReview {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .feedbackContainer {
    gap: 10px;
    padding: 20px;
    min-height: 333px;
  }

  .person {
    gap: 5px;
  }

  .personImg {
    width: 55px;
    height: 55px;
  }

  .personName {
    font-size: 20px;
  }

  .personReview {
    font-size: 16px;
  }
}
